{% block content %}
{% for r in comm %}
<div style="width: 18rem;" class="me-3">
  <div class="card me-3" style="width: 18rem;">
    <div class="card-body flex">
      <h5 class="card-title">{{ r.note }}</h5>
      <a class="btn btn-success edit" href="edit/{{r.note._id}}">Edit</a>
      <a class="btn btn-danger delete" href="delete/{{r.note._id}}">delete</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}