body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 250, 250);
    color: rgb(251, 251, 251);
    background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(0, 0, 0));
    background-repeat:no-repeat;


  }